/* global settings */
:root {
  --dark_bg_color: #1f2937;
  --hero_main_text_color: #f9faf8;
  --hero_main_text_font_size: 48px;
  --hero_secondary_text_header_link_text: #e5e7eb;
  --header_logo_text: 24px #f9faf8;
  --button_color_cta_bg_color: #3882f6;
  --information_header_text: 36px 800 #1f2937;
  --quote_section_bg_color: #e5e7eb;
  --quote_text: 36px 300 #1f2937; /* missing italics */
  --left_right_size: 250px;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

/* main container */
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* header */
.header {
  display: flex;
  flex-grow: 1;
  background-color: var(--dark_bg_color);
  color: white;
  flex-direction: column;
  padding-left: var(--left_right_size);
  padding-right: var(--left_right_size);
  padding-bottom: 50px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.logo {
  text-decoration: none;
  color: var(--hero_secondary_text_header_link_text);
  font-size: 18px;
  font-weight: bold;
}

.navigation {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  list-style: none;
}

.links {
  text-decoration: none;
  padding: 2px;
  color: var(--hero_secondary_text_header_link_text);
  font-size: 12px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 75px;
  padding-bottom: 75px;
  gap: 30px;
}

.main_text {
  display: flex;
  flex-direction: column;
  width: 350px;
  flex: 1;
}

.hero_main_text {
  font-size: var(--hero_main_text_font_size);
  color: var(--hero_main_text_color);
  font-weight: 800;
  margin-bottom: 0;
  margin-top: 0;
}

.hero_secondary_text {
  color: var(--hero_secondary_text_header_link_text);
  font-size: 18px;
}

.hero_button {
  background-color: var(--button_color_cta_bg_color);
  color: var(--hero_secondary_text_header_link_text);
  font-size: 18px;
  border-radius: 12px;
  width: 110px;
  height: 40px;
  border-style: solid;
}

.main_picture {
  border: 1px solid var(--dark_bg_color);
  display: flex;
  background-color: gray;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 227px;
}

/* showcase */
.showcase {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 20px;
  padding-left: var(--left_right_size);
  padding-right: var(--left_right_size);
  padding-top: 40px;
  padding-bottom: 40px;
}

.showcase_icons_group {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 25px;
}

.showcase_icon_parent {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 250px;
  width: 180px;
  align-items: center;
}

.showcase_icon {
  text-decoration: none;
  color: black;
  border: 3px solid blue;
  background-color: white;
  height: 180px;
  width: 150px;
  border-radius: 30px;
}

.showcase_icon_text {
  color: gray;
  text-align: center;
}

/* quote */
.quote {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-left: var(--left_right_size);
  padding-right: var(--left_right_size);
  padding-bottom: 50px;
  background-color: var(--quote_section_bg_color);
  margin-bottom: 50px;
}

.quote_text {
  font-size: 36px;
  font-weight: 300;
  color: #1f2937;
  font-style: italic;
  margin-left: 330px;
  margin-right: 250px;
}

.quote_author {
  padding-top: 0;
  margin-left: auto;
  margin-right: 280px;
  font-weight: bold;
}

/* footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 250px;
  background-color: #3882f6;
  color: white;
  padding-left: var(--left_right_size);
  padding-right: var(--left_right_size);
  padding-top: 25px;
  padding-bottom: 25px;
  margin-left: 250px;
  margin-right: 250px;
  border-radius: 10px;
}

.footer_button {
  display: flex;
  border-color: white;
  justify-content: center;
  align-items: center;
  color: white;
}

/* Copyright */
.copyright {
  text-align: center;
  background-color: var(--dark_bg_color);
  color: white;
  margin-top: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
}
